{
    "presets": [
        [
            "@babel/preset-env",
            {
              "useBuiltIns": "entry"
            }
          ],
          "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "transform-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}