name: snyk-merge
on:
  check_suite:
    types:
      - completed
  status: {}
jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: automerge
        uses: "pascalgn/automerge-action@7ab42e888a333bf77ce865bc84fedc6a365a3548"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          MERGE_LABELS: ""
          MERGE_RETRIES: "2"
          MERGE_RETRY_SLEEP: "10000"
          MERGE_FILTER_AUTHOR: "snyk-bot"
          MERGE_DELETE_BRANCH: true
